*.dSYM/
*.o
*.out
calculadora
fibonacci
halley
matrizes
primos
printando_ponteiros
reassinando_ponteiros
alocacao_dinamica
encontrando_elementos_unicos
sentenca_dancante
turismo
/output

ex_presenca_ex1
ex_presenca_ex2
ex_presenca_ex3
ex_presenca_ex4
ex_presenca_ex5
ex_presenca_ex6
.DS_Store
